# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Backend specifics
/backend/venv/
/backend/.env
chat_history.db
/backend/uploads/
/backend/exports/

# Frontend
/frontend/node_modules/
/frontend/dist/

# OS
.DS_Store
Thumbs.db
